/* ----------------------------------------------custom fonts---------------------------------------- */

@font-face {
    font-family: editorial;
    src: url(fonts/EditorialNew.otf);
}
@font-face {
    font-family: chomsky;
    src: url(fonts/Chomsky-8MOa2.otf);
}
@font-face {
    font-family: canopee;
    src: url(fonts/Canopee-Regular.otf);
}
@font-face {
    font-family: Alegreya;
    src: url(fonts/Alegreya-Regular.ttf);
}

/* ---------------------------------------------universal styling---------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #1d1d1b;
    letter-spacing: -.02em;
    font-family: Editorial New,sans-serif;
    background-color: #C5BDB3;
    font-weight: 300;
    overflow-x: hidden;
    
}
#main{
    width:100%;    
    position: relative;
}
#page-1{
    width:100%;
    
}

/* ----------------------------------------------navbar section------------------- */

#nav{
    /* background-color: blueviolet; */
    /* text-align: center; */
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    aspect-ratio: 16/1.2;
    padding: 0 2vw;
    border-bottom: 1px solid black;
}
.nav-item-div{
   
    height:100%;
    display:flex;
    /* border:1px solid black; */
    align-items: center;
}
#logo-div{
    width:15%;
}
#page-title-div{
    justify-content: center;
    width:60%;
    height: 80%;
}
#menu-icon-div{
    justify-content: flex-end;
    width:15%;
    


}
/* #menu-icon{
    font-size: 100vw;;
    width:40%; 
     height:70%;
} */
#logo{
    font-family: editorial,sans-serif;
    color:#796420;
    font-size: 1.3vw;
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
    height:80%;
    font-size: 5vw;
    font-family: chomsky;
    font-weight: lighter;
   
}
#nav i{
    font-size: x-large;
}

/* ------------------------------------------navbar responsiveness section--------------------------- */
@media(max-width:480px){ /* small screens*/
    #nav{
        aspect-ratio: 16/2;
    }
    
    #logo{
        display:none;
        
    }
    #title{
        font-size: 6vw;
    }

}
@media(min-width:481px) and (max-width:768px){ /* medium screens*/
    #nav{
        aspect-ratio: 16/1.5;
    }
    
    #logo{
        display:none;
        
    }
    #title{
        font-size: 2rem;
    }

}


@media(min-width:769px){ /* big screens*/
   
    #title{
        font-size: 3vw;
    }

}

/* ---------------------------------------------element section-------------------------------------- */

#elems{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    aspect-ratio: 16/4;
    /* background-color: blue; */
    /* border:1px solid black; */
    /* padding: 10px 50px; */
    margin: 20px 0;
    overflow: hidden;
}
#elem-1, #elem-2, #elem-3{
    /* border:1px solid black; */
    width:30%;
    height:100%;
}
#elem-1-img-div , #elem-3-img-div{
    overflow: hidden;
    width:100%;
    height:50%
}
.elem-img{
    width:100%;
    height:100%;
    object-fit: cover;
    transition: all ease 0.4s;
}

#elem-1-img-div:hover img, #elem-3-img-div:hover img{
    scale:1.1;
}
#elem-1-title, #elem-3-title{
    margin-top: 10px;
    font-family: canopee;
    font-size: 1.5vw;
}
#elem-1-title span,#elem-3 span{
    color:#C3BBB2;
    background-color:#B93C12;
    padding:1px 8px;
    border-radius: 3px;
    margin-left: 2px;;
}
#elem-1-desc, #elem-3-desc{
    margin-top: 10px;
    font-family: Alegreya;
    font-size: 1.5vw;
}
#elem-2{
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#elem-2-h1-div{
    width:95%;
    aspect-ratio: 16/3.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
#elem-2-title{
    width:95%;
    height: 100%;
    margin:0 auto;
    font-size: 5vw;
    font-family:canopee ;
}
#elem-2-h3-div{
    width: 70%;
    height:40%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#elem-2-desc{
 
    font-size: 2.5vw;
    font-weight: lighter;
    font-family: Alegreya;
    
}
#elem-2-p-div{
    font-size: 1rem;
    height:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#elem-2-scroll-msg{
 
    font-size: 1.3vw;
    font-family: Alegreya;
    
}


/* -----------------------------------------------elems responsive section------------------------ */

@media(max-width:480px){  /*for small screen devices (mobile phones) */
    #elems{
        /* border:1px solid black; */
        width: 95%;
        aspect-ratio: 4/2.5;
        margin: 20px auto;
    }
    #elem-1,#elem-3{
        display:none;
    }
    #elem-2{
        width: 95%;
        margin: 0 auto;
    }
    #elem-2-title{
        width:95%;
        height: 100%;
        font-size: 15vw;

    }
    #elem-2-desc{ 
        font-size: 7vw;         
    }
    #elem-2-scroll-msg{
 
        font-size: 3.5vw;
       
        
    }
}
@media(min-width:481px) and (max-width:768px){ /*for medium screen devices (tablets) */
    #elems{
        aspect-ratio: 16/4;
        justify-content: space-evenly;
    }
    #elem-1{
        display:none;
    }
    #elem-2 , #elem-3{
        width:45%;
    }
    #elem-2-title{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #elem-3-title{
        font-size: 2vw;
    }
    #elem-3 p{
        font-size: 1.7vw;
    }
    #elem-2-scroll-msg{
        font-size: 1.5vw ;
    }
}


/* -------------------------------------------head title section------------------------------------------------ */
#head-title-div{
    width:95%;
    height: 85vh;
    padding: 5vh 5vw;
    background-color: #1C1C1A;
    color: #C6BEB4;
    font-family: canopee;
    font-weight: 100;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    /* overflow:hidden; */
    
}
#head-title-div h1{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28rem;
}

#test{
    border-top: 30px solid #C5BDB3;
    width:95%;
    aspect-ratio: 16/5;
    background-color: #1C1C1A;
    color: #C6BEB4;
    font-family: canopee;
    font-weight: 100;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 80vw;
}
@media(max-width:767px){
    /* #test{
        aspect-ratio: 5/16;
    } */
}