/* ----------------------------------------------custom fonts---------------------------------------- */

@font-face {
    font-family: editorial;
    src: url(fonts/EditorialNew.otf);
}
@font-face {
    font-family: chomsky;
    src: url(fonts/Chomsky-8MOa2.otf);
}
@font-face {
    font-family: canopee;
    src: url(fonts/Canopee-Regular.otf);
}
@font-face {
    font-family: Alegreya;
    src: url(fonts/Alegreya-Regular.ttf);
}

/* ---------------------------------------------universal styling---------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #1d1d1b;
    letter-spacing: -.02em;
    font-family: Editorial New,sans-serif;
    background-color: #C5BDB3;
    font-weight: 300;
    overflow-x: hidden;
    
}
#main{
    width:100%;    
    position: relative;
}
#page-1{
    width:100%;
    /* height:100vh; */
}

/* ----------------------------------------------navbar section------------------- */

#nav{
    /* background-color: blueviolet; */
    /* text-align: center; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:12vh;
    padding: 0 2vw;
    border-bottom: 1px solid black;
}
.nav-item-div{
   
    height:100%;
    display:flex;
    /* border:1px solid black; */
    align-items: center;
}
#logo-div{
    width:15%;
}
#page-title-div{
    justify-content: center;
    width:60%;
}
#menu-icon-div{
    justify-content: flex-end;
    width:15%;
}
#nav h5{
    font-family: editorial,sans-serif;
    color:#796420;
    font-size: medium;
}
#nav h4{
    font-size: xx-large;
    font-family: chomsky;
    font-weight: lighter;
   
}
#nav i{
    font-size: x-large;
}

/* ------------------------------------------navbar responsiveness section--------------------------- */
@media(max-width:480px){ /* small screens*/
    #nav h5{
        display:none;
        
    }
    #nav h4{
        font-size: 1.5rem;
    }

}
@media(min-width:481px) and (max-width:768px){ /* medium screens*/
    #nav h5{
        display:none;
        
    }
    #nav h4{
        font-size: 2rem;
    }

}


@media(min-width:769px){ /* big screens*/
    #nav h5{
        
        
    }
    #nav h4{
        font-size: xx-large;
    }

}

/* ---------------------------------------------element section-------------------------------------- */

#elems{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    aspect-ratio: 16/4;
    /* background-color: blue; */
    /* border:1px solid black; */
    /* padding: 10px 50px; */
    margin: 20px 0;
    overflow: hidden;
}
#elem-1, #elem-2, #elem-3{
    border:1px solid black;
    width:30%;
    height:100%;
}
#elem-1-img-div , #elem-3-img-div{
    overflow: hidden;
    width:100%;
    height:50%
}
#elem-1-img-div img, #elem-3-img-div img{
    width:100%;
    height:100%;
    object-fit: cover;
    transition: all ease 0.4s;
}

#elem-1-img-div:hover img, #elem-3-img-div:hover img{
    scale:1.1;
}
#elem-1 h5, #elem-3 h5{
    margin-top: 10px;
    font-family: canopee;
    font-size: 1.3rem;
}
#elem-1 h5 span,#elem-3 h5 span{
    color:#C3BBB2;
    background-color:#B93C12;
    padding:1px 8px;
    border-radius: 3px;
    margin-left: 2px;;
}
#elem-1 p, #elem-3 p{
    margin-top: 10px;
    font-family: Alegreya;
    font-size: 1rem;
}
#elem-2{
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#elem-2-h1-div{
    width:95%;
    height:25%;
}
#elem-2 h1{
    width:95%;
    margin:0 auto;
    font-size: 3rem;
    font-family:canopee ;
}
#elem-2-h3-div{
    width: 70%;
    height:40%;
}
#elem-2 h3{
    margin-top: 10px;;
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: Alegreya;
    
}
#elem-2-p-div{
    font-size: 1rem;
    height:15%;
}
#elem-2 p{
    margin-top: 15px;
    font-family: Alegreya;
    
}


/* -----------------------------------------------elems responsive section------------------------ */

@media(max-width:480px){  /*for small screen devices (mobile phones) */
    #elems{
        width: 95%;
        aspect-ratio: 4/4;
        margin: 20px auto;
    }
    #elem-1,#elem-3{
        display:none;
    }
    #elem-2{
        width: 95%;
        margin: 0 auto;
    }
    #elem-2 h1{
        font-size: 5rem;
    }
}
@media(min-width:481px) and (max-width:768px){ /*for medium screen devices (tablets) */
    #elems{
        aspect-ratio: 16/4;
        justify-content: space-evenly;
    }
    #elem-1{
        display:none;
    }
    #elem-2 , #elem-3{
        width:45%;
    }
    #elem-3 h5{
        font-size: 1.1rem;
    }
    #elem-3 p{
        font-size: 0.85rem;
    }
}
@media(min-width:769px){ /*for large screen devices (laptops, desktops) */
    #elem-2 h1{
        /* width: 50%; */
    } 
}

/* -------------------------------------------head title section------------------------------------------------ */
#head-title-div{
    width:95%;
    height: 85vh;
    padding: 5vh 5vw;
    background-color: #1C1C1A;
    color: #C6BEB4;
    font-family: canopee;
    font-weight: 100;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    /* overflow:hidden; */
    /* line-height: 60vh; */
}
#head-title-div h1{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28rem;
}

#test{
    border-top: 30px solid #C5BDB3;
    width:95%;
    aspect-ratio: 16/5;
    background-color: #1C1C1A;
    color: #C6BEB4;
    font-family: canopee;
    font-weight: 100;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 80vw;
}
@media(max-width:767px){
    /* #test{
        aspect-ratio: 5/16;
    } */
}